<!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#" class="scrollto"><img src="../../../assets/FrontOffice/img/maghrebia (2).png" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="/claims">Claims</a></li>
          <li><a href="#contracts">Contracts</a></li>
          <li><a href="#properties ">Properties</a></li>
          <li><a href="#sponsors">Sponsors</a></li>
          <li><a href="/signin">News</a></li>
          <li><a href="/signup">SignUp</a></li>
          <li><a href="/services">Services</a></li>
          <li class="buy-tickets"><a href="/signin">Login</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">Maghrebia<br><span>Insurance</span> </h1>
      <p class="mb-4 pb-0">Protect what matters most with our comprehensive insurance plans – reliable coverage, peace of mind, and support when you need it most</p>
    <a href="#about" class="about-btn scrollto">About Us</a>
  </div>
</section>

<main id="main">

 

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About Maghrebia Insurance</h2>
            <p> offers three plans tailored to users' needs. The basic plan provides limited access to events and meetings. The standard plan offers unlimited access with automated meeting scheduling. The premium plan, designed for businesses, includes advanced features for optimized event management.</p>
          </div>
          
        </div>
      </div>
    </section>
