
body {
    padding-top: 20px; /* Adjust based on header height */
}

/* Header Styling */
#header {
    background: #f8f9fa; /* Light gray background */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    padding: 5px 0;
    z-index: 1000;
    border-bottom: 1px solid #ddd; /* Optional: Add a border */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}

/* Navbar Container */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}


/* Navbar Links */
#nav-menu-container {
    display: flex;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.nav-menu li {
    padding: 0;
    margin: 0 10px;
}

.nav-menu a {
    text-decoration: none;
    color: #02274e; /* Dark blue text */
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    display: block;
    padding: 10px 5px;
}

.nav-menu a:hover,
.nav-menu .menu-active a {
    color: #003166; /* Darker blue on hover */
}


.dropdown-item {
    padding: 8px 15px;
    cursor: pointer;
}

.dropdown-item-text {
    display: block;
    padding: 8px 15px;
}

/* Login button styling */
.buy-tickets a {
    background-color: #ff3366;
    padding: 8px 20px !important;
    border-radius: 50px;
    margin-left: 10px;
    color: white !important; /* Ensure text is visible */
}

.buy-tickets a:hover {
    background-color: #e62958;
    color: white !important;
}

/* Profile image alignment */
.nav-link img {
    margin-right: 5px;
    vertical-align: middle;
}
/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
    padding-right: 30px;
  }
  
  .sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
  }
  
  .sf-arrows ul .sf-with-ul:after {
    content: "\f105";
  }
  
