<div class="chatbot-container" [ngClass]="{'chatbot-open': isChatOpen}">
    <div class="chat-header" (click)="toggleChat()">
        <h3 >Insurance Assistant</h3>
        <button *ngIf="isChatOpen" (click)="closeChat($event)">×</button>
    </div>
    <div class="chat-body" *ngIf="isChatOpen">
        Hello! How can I assist you with your insurance today?
        <div *ngFor="let message of messages" class="message" [ngClass]="message.sender">
            {{ message.text }}
        </div>
        <input type="text" [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" placeholder="Type a message..." />
    </div>
</div>
