<form (ngSubmit)="loginUser()" class="flex justify-center items-center h-screen">
    <div class="bg-white shadow-lg rounded-lg p-6 w-96">
      <h2 class="text-xl font-semibold mb-4 text-center">Login</h2>
  
      <div class="mb-4">
        <label for="email" class="block font-medium">Email</label>
        <input
          type="text"
          formControlName="email"
          class="w-full border rounded px-3 py-2 focus:ring focus:border-blue-500"
          name="email"
          placeholder="Type your email"
        />
     
      </div>
  
      <div class="mb-4">
        <label for="password" class="block font-medium">Password</label>
        <input
          type="password"
          formControlName="password"
          class="w-full border rounded px-3 py-2 focus:ring focus:border-blue-500"
          name="password"
          placeholder="Type your password"
        />
      
      </div>
  
      <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700">
        Login
      </button>
  
      <div class="mt-2 text-center">
        Not a member? <a routerLink="/register" class="text-blue-500 hover:underline">Register</a>
      </div>
    </div>
  </form>
  