<!--==========================
    Footer
============================-->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <!-- Logo & Description -->
        <div class="col-lg-3 col-md-6 footer-info">
          <img src="/assets/FrontOffice/img/maghrebia (2).png" alt="Maghrebia Insurance">
          <p>Maghrebia Insurance provides tailored coverage to protect what matters most to you. Secure your future with reliable insurance solutions.</p>
        </div>

        <!-- Quick Links -->
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><i class="fa fa-angle-right"></i> <a href="#intro">Home</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="#about">About Us</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="/claims">Claims</a></li>
            <li><i class="fa fa-angle-right"></i><a href="/assessments">Assessments</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="#contracts">Contracts</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="#properties">Properties</a></li>
          </ul>
        </div>

        <!-- Additional Links -->
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>More Information</h4>
          <ul>
            <li><i class="fa fa-angle-right"></i> <a href="#sponsors">Sponsors</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="#signin">Sign In</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="#signup">Sign Up</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="#buy-tickets">Buy Tickets</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="#">Privacy Policy</a></li>
          </ul>
        </div>

        <!-- Contact Information -->
        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            64, rue de Palestine 1002 
            <br>24, Rue du Royaume d'Arabie Saoudite<br>Tunis <br>
            <strong>Phone:</strong> 00 216 71 788 800<br>
            <strong>Fax:</strong>  00 216 71 788 334<br>
            <strong>Email:</strong> relation.client&#64;maghrebia.com.tn<br>
          </p>

          <!-- Social Media Links -->
          <div class="social-links">
            <!-- <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> -->
            <a href="https://www.facebook.com/assurancesmaghrebiaTN" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/assurance_maghrebia/" class="instagram"><i class="fa fa-instagram"></i></a>
            <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a> -->
            <a href="https://tn.linkedin.com/company/assurances-maghrebia" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Maghrebia Insurance</strong>. All Rights Reserved
    </div>
  </div>
</footer>
<!-- #footer -->

<!-- Back to Top Button -->
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
