<div class="list-assessment-container">
  <app-header-front></app-header-front>

  <button class="back" (click)="goBack()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
      <path d="M11.854 2.146a.5.5 0 0 1 0 .708L5.707 8l6.147 5.146a.5.5 0 0 1-.708.708l-6.5-6a.5.5 0 0 1 0-.708l6.5-6a.5.5 0 0 1 .708 0z"/>
    </svg>
  </button>

  <div class="header-container">
    <h2>{{ currentUser?.role === 'CUSTOMER' ? 'My  Assessments' : 'List  Assessments' }}</h2>

    <div class="controls">
      <input 
        type="text" 
        placeholder="Search Assessment..." 
        [(ngModel)]="searchQuery" 
        (input)="applySearch()"
      />

      <select [(ngModel)]="selectedSort" (change)="applySort()">
        <option value="assessmentDate">Sort by Date</option>
        <option value="id">Sort by ID</option>
      </select>

      <button class="btn-info" (click)="toggleSortDirection()">
        {{ sortDirection ? '↓ Desc' : '↑ Asc' }}
      </button>

      <button 
        *ngIf="isAgent() || isAdmin()" 
        class="btn-success"
        (click)="navigateToAddAssessment()"
      >
        + Add Assessment
      </button>
    </div>
  </div>

  <div class="card-grid">
    <div class="assessment-card" *ngFor="let assessment of filteredAssessments | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index">
      <h4><strong>{{ assessment.claim.claimName || 'N/A' }}</strong></h4>
      <p><strong>Date:</strong> {{ assessment.assessmentDate | date:'yyyy-MM-dd' }}</p>
      <p><strong>Findings:</strong> {{ assessment.findings }}</p>
      <p><strong>Status:</strong> {{ assessment.statusAssessment }}</p>
      <p><strong>Decision:</strong> {{ assessment.finalDecision }}</p>

      <div class="card-actions">
        <button class="btn-primary" (click)="viewAssessment(assessment.idAssessment)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM8 12.5c-2.485 0-4.5-2.015-4.5-4.5S5.515 3.5 8 3.5s4.5 2.015 4.5 4.5-2.015 4.5-4.5 4.5z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5z"/>
          </svg>
        </button>        
      </div>
    </div>
  </div>
  <div class="pagination-container">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
  <app-chatbot></app-chatbot>
  <app-footer-front></app-footer-front>
</div>
