.list-assessment-container {
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
  
    .back {
      background: none;
      border: none;
      margin-bottom: 10px;
      font-size: 1.5rem;
      color: #2c3e50;
      cursor: pointer;
    }
  
    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
      
    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
      color: #333;
    }

    h4{
        text-align: center;
    }
  
    .controls {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      margin-bottom: 30px;
  
      input,
      select,
      button {
        padding: 10px 15px;
        border-radius: 8px;
        font-size: 1rem;
        border: 1px solid #ccc;
      }
  
      input {
        width: 250px;
      }
  
      .btn-info {
        background-color: #17a2b8;
        color: white;
        font-weight: 600;
        border: none;
  
        &:hover {
          background-color: #138496;
        }
      }
  
      .btn-success {
        background-color: #28a745;
        color: white;
        font-weight: 600;
        border: none;
  
        &:hover {
          background-color: #218838;
        }
      }
    }
  
    .card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 20px;
    }
  
    .assessment-card {
      background: #ffffff;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
      padding: 20px;
      transition: 0.3s;
  
      h4 {
        font-size: 1.3rem;
        color: #007bff;
        margin-bottom: 10px;
      }
  
      p {
        margin: 4px 0;
        color: #444;
      }
  
      .card-actions {
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
  
        .btn-primary {
          background-color: #007bff;
          color: white;
          padding: 8px 15px;
          border: none;
          border-radius: 5px;
          font-weight: bold;
          cursor: pointer;
  
          &:hover {
            background-color: #0056b3;
          }
        }
      }
  
      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
      }
    }
  
    app-footer-front {
      margin-top: 60px;
    }
  }
  