<app-header-front></app-header-front>
<div *ngIf="assessment" class="view-assessment-container">
    <h3>Assessment Details</h3>
    <div class="assessment-detail">
      <p><strong>Assessment Date:</strong> {{ assessment.assessmentDate | date }}</p>
      <p><strong>Findings:</strong> {{ assessment.findings }}</p>
      <p><strong>Status:</strong> {{ assessment.statusAssessment }}</p>
      <p><strong>Final Decision:</strong> {{ assessment.finalDecision }}</p>
      <p><strong>Submission Date:</strong> {{ assessment.submissionDate | date }}</p>
      
      <p><strong>Documents:</strong></p>
      <ul>
        <li *ngFor="let file of assessment.assessmentDocuments">
          <a href="{{ file }}" target="_blank">{{ file }}</a>
        </li>
      </ul>
    </div>
  
   
  </div>
  
  <app-footer-front></app-footer-front>
