<section id="news">
    <div class="container">
      <div class="row">
        <h2 class="text-light text-center my-5">Recent News</h2>
      </div>
      <div class="row flex-center h-100 circle-blend circle-blend-left circle-primary">
        <div class="col-12">
          <div class="row align-items-center circle-blend circle-blend-right circle-warning">
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card p-3 h-100 card-soft-primary">
                <div class="card-body">
                  <div class="d-flex flex-between-center">
                    <p class="fw-normal mb-0 text-400">24 July, 2021</p>
                    <h6><span class="badge rounded-pill text-primary" style="background:#224E8F;">Thoughts</span></h6>
                  </div>
                  <h5 class="fw-bold fs-2 text-200 my-3">A pandemic may cause life insurance coverage</h5>
                  <p class="text-400">In the aftermath of the Covid epidemic, life insurance firms have been more cautious and have tightened underwriting standards for policies with large cash values.......</p><a [routerLink]="['/app-blog-detail']" routerLinkActive="active">
                    Go to Blog Detail
                  </a>
                    
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card p-3 h-100 card-soft-primary">
                <div class="card-body">
                  <div class="d-flex flex-between-center">
                    <p class="fw-normal mb-0 text-400">29 July, 2021</p>
                    <h6><span class="badge rounded-pill text-primary" style="background:#224E8F;">Health</span></h6>
                  </div>
                  <h5 class="fw-bold fs-2 text-200 my-3">Top 10 health insurance companies in the Germany</h5>
                  <p class="text-400">There are numerous private healthcare insurance experts in Germany. Insurance protects against financial loss and reduces uncertainty. It ensures safety and security.......</p>  
                  <button class="link-primary" (click)="navigateToBlogDetail()">
                    <svg class="bi bi-arrow-right text-primary" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                    </svg>
                  </button>
             
                   
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card p-3 h-100 card-soft-primary">
                <div class="card-body">
                  <div class="d-flex flex-between-center">
                    <p class="fw-normal mb-0 text-400">15 August, 2021</p>
                    <h6><span class="badge rounded-pill text-primary" style="background:#224E8F;">Life</span></h6>
                  </div>
                  <h5 class="fw-bold fs-2 text-200 my-3">Why do you need several life insurance policies?</h5>
                  <p class="text-400">In the event of the insured's death, life insurance protects the nominees financially. It is possible to have several life insurance policies with various insurance providers.......</p><a class="link-primary" href="#!">
                    <button class="link-primary" (click)="navigateToBlogDetail()">
                      <svg class="bi bi-arrow-right text-primary" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                      </svg>
                    </button></a>
                </div>
              </div>
            </div>
          </div>
          <div class="my-5 text-center text-sm-end"><a class="link-primary" href="#!">View all
              <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"> </path>
              </svg></a></div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>