<!--==========================
  Contracts Section
============================-->
<section id="contracts" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Contracts</h2>
            <p>Here are some of the contracts we offer</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="contract">
                    <img src="/assets/FrontOffice/img/speakers/1.jpg" alt="Contract 1" class="img-fluid">
                    <div class="details">
                        <h3><a href="contract-details.html">Car Insurance Contract</a></h3>
                        <p>Comprehensive car insurance with flexible coverage.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="contract">
                    <img src="/assets/FrontOffice/img/speakers/2.jpg" alt="Contract 2" class="img-fluid">
                    <div class="details">
                        <h3><a href="contract-details.html">Home Insurance Contract</a></h3>
                        <p>Protect your home with customized coverage plans.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="contract">
                    <img src="/assets/FrontOffice/img/speakers/3.jpg" alt="Contract 3" class="img-fluid">
                    <div class="details">
                        <h3><a href="contract-details.html">Health Insurance Contract</a></h3>
                        <p>Comprehensive health insurance for individuals and families.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="contract">
                    <img src="/assets/FrontOffice/img/speakers/4.jpg" alt="Contract 4" class="img-fluid">
                    <div class="details">
                        <h3><a href="contract-details.html">Travel Insurance Contract</a></h3>
                        <p>Travel worry-free with our global insurance coverage.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="contract">
                    <img src="/assets/FrontOffice/img/speakers/5.jpg" alt="Contract 5" class="img-fluid">
                    <div class="details">
                        <h3><a href="contract-details.html">Business Insurance Contract</a></h3>
                        <p>Secure your business from risks with customized plans.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="contract">
                    <img src="/assets/FrontOffice/img/speakers/6.jpg" alt="Contract 6" class="img-fluid">
                    <div class="details">
                        <h3><a href="contract-details.html">Life Insurance Contract</a></h3>
                        <p>Ensure financial security for your loved ones.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
